[submodule "packages/flutter/apps/adventuring/git_vis/libgit2"]
	path = packages/flutter/apps/adventuring/git_vis/native/libgit2
	url = git@github.com:libgit2/libgit2.git
[submodule "packages/flutter/plugins/flutter_opencv_ffi/opencv"]
	path = packages/flutter/plugins/flutter_opencv_ffi/opencv
	url = https://github.com/opencv/opencv
[submodule "packages/flutter/plugins/flutter_opencv_ffi/opencv_contrib"]
	path = packages/flutter/plugins/flutter_opencv_ffi/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "packages/flutter/plugins/flutter_tflite_ffi/tensorflow"]
	path = packages/flutter/plugins/flutter_tflite_ffi/tensorflow
	url = https://github.com/tensorflow/tensorflow
[submodule "packages/flutter/plugins/flutter_box2c/box2c"]
	path = packages/flutter/plugins/flutter_box2c/box2c
	url = https://github.com/erincatto/box2c
