# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# Used during prototyping.
key.json
.local_dev.env


.DS_Store

# when it's ready, use dependabot https://github.com/dependabot/dependabot-core/pull/3438
# and check in the lock file
pubspec.lock

# test data
coverage/deploy_coverage/
