name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - package_name: adventure_maker
            run_code_gen: yes
            project_type: flutter
          - package_name: flireator
            project_type: flutter
          - package_name: redfire
            project_type: flutter
          - package_name: redfire_test
            project_type: flutter
          - package_name: tech_world
            run_code_gen: yes
            project_type: flutter
          - package_name: the_process
            run_code_gen: yes
            project_type: flutter
          - package_name: ws_game_server
            project_type: dart
          - package_name: ws_game_server_types
            project_type: dart
    
    container: enspyrco/ci-tools:beta
    defaults:
      run:
        working-directory: ./packages/${{ matrix.package_name }}
    
    steps:
      - uses: actions/checkout@v2
      - run: flutter pub get
      - name: Run build_runner if required
        if: ${{ matrix.run_code_gen }}
        run: flutter pub run build_runner build
      - run: flutter test
